*.qmd linguist-language=RMarkdown
*.js linguist-vendored
docs/* linguist-vendored
_freeze/* linguist-vendored
arm/book-codes/* linguist-vendored
static/* linguist-vendored
renv/* linguist-vendored
*.bib linguist-vendored
